<div class="container">

<div class="row">
  <div class="col-md-4 col-md-offset-2">

    <div class="row">
      <div class="panel panel-primary panel-main">
        <div class="panel-body text-center">
          <h2><%= t :personal_info %></h2>
        </div>

        <div class="panel-body">

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">
              <%= f.label t(:nickname) %><br />
              <%= f.text_field :nickname, autofocus: true, class: 'form-control' %>
            </div>

            <div class="form-group text-center">
              <%= f.submit t(:update), class: 'btn btn-primary' %>
            </div>
          <% end %>

        </div>
      </div>
    </div>

    <% unless resource_class.omniauth_providers.empty? %>
      <div class="row">
        <div class="panel panel-primary panel-main">
          <div class="panel-body text-center">
            <h2><%= t '3rd_party_accounts' %></h2>
          </div>
          <ul class="list-group">
            <% resource_class.omniauth_providers.each do |provider| %>
              <li class="list-group-item"><%= provider.to_s.titleize %>
              <span class="pull-right">
                <% if resource.try(:"#{provider}_uid").present? %>
                  <%= t :linked %>&nbsp;
                  <% unless resource.oauth_count == 1 and resource.is_email_fake %>
                    <%= link_to t(:unlink), users_revoke_oauth_path(provider: provider), data: { method: :post, remote: true, confirm: t(:confirm_to_unlink) }, class: 'need-reload text-danger' %>
                  <% end %>
                <% else %>
                  <%= link_to t(:link), omniauth_authorize_path(resource_name, provider) %><br />
                <% end %>
              </span>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

  </div>

  <div class="col-md-4">

    <div class="panel panel-primary panel-main">
      <div class="panel-body text-center">
        <h2><%= t :secure_info %></h2>
      </div>

      <div class="panel-body">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: false, class: 'form-control' %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div><%= t(:current_waiting_confirmation_for) %>: <%= resource.unconfirmed_email %></div>
          <% end %>

          <% unless current_user.is_password_fake %>

            <div class="form-group">
              <%= f.label :password %> <i>(<%= t :leave_blank_if_donnot_change %>)</i><br />
              <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :current_password %> <i>(<%= t :we_need_your_current_password %>)</i><br />
              <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
            </div>

          <% end %>

          <div class="form-group text-center">
            <%= f.submit t(:update), class: 'btn btn-primary' %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
</div>
