<%= form_for(@topic) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label t(:title) %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label t(:parent_id) %><br>
    <%= f.text_field :parent_id, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label t(:rank) %><br>
    <%= f.text_field :rank, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label t(:introduction) %><br>
    <%= f.text_area :introduction, class: 'form-control', 'data-provide' => "markdown" %>
  </div>
  <div class="form-group text-center">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
