<div class="container">
  <div class="row">

    <div class="col-md-8">

      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary panel-main">
            <div class="panel-body">

              <% if @topic.parent_id == 0 %>
              <%= link_to t(:back_to_all_topics), topics_path %>
              <% else %>
              <% if @topic.parent_topic.present? %>
              <%= link_to "#{t(:back_to_parent_topic)}: #{@topic.parent_topic.title}", topic_path(@topic.parent_topic) %>
              <% end %>
              <% end %>

              <h3><small class="text-muted">#<%= @topic.id %></small> <%= @topic.title %></h3><br/>
              <%= @topic.introduction %>

              <% if current_user.is_admin %>
              <div class="text-right">
                <p>
                  <%= link_to t(:edit), edit_topic_path(@topic) %> |
                  <%= link_to t(:new_sub_topic), new_topic_path(parent_id: @topic.id) %>
                </p>
              </div>
              <% end %>
            </div>
            <%= render 'index', topics: @sub_topics %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">

            <div class="panel-body text-right">
              <a data-toggle="collapse" href="#collapseNewPost" aria-expanded="true" aria-controls="collapseNewPost">
                <%= glyphicon 'pencil' %><%= t(:new_post) %>
              </a>
            </div>

            <div id="collapseNewPost" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <%= form_for @new_post, remote: true, html: { class: 'need-reload' } do |f| %>
                <%= f.hidden_field :topic_id %>
                <div class="form-group">
                  <%= f.text_field :title, class: 'form-control', id: 'inputTitle', placeholder: t("title") %>
                </div>
                <div class="form-group">
                  <%= f.text_area :content, class: 'form-control', id: 'inputContent', placeholder: t("content") %>
                </div>
                <div class="form-group text-right">
                  <%= f.submit t("submit"), class: "btn btn-sm btn-default" %>
                </div>
                <% end %>
              </div>
            </div>

            <div class="list-group">
              <% if @posts.length != 0 %>

              <% @posts.each do |post| %>
              <%= link_to post, class: 'list-group-item' do %>
              <h4 class="list-group-item-heading">
                <span><small class="text-muted"><%= "##{post.id}" %></small> <%= post.title %></span>
                <span class="pull-right"><small><%= post.user.nickname %> | <%= time_ago_in_words post.created_at %></small></span>
              </h4>
              <p class="list-group-item-text"><%= post.content %></p>
              <% end %>
              <% end %>

              <% else %>

              <li class="list-group-item text-center"><%= t(:no_posts) %></li>

              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <%= render 'shared/chatbox' %>
    </div>

  </div>
</div>
