<div class="navbar navbar-default navbar-fixed-top">
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "iz_logo_white.png", height: '26' %>
    <% end %>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <% if user_signed_in? or IslandZero.open_to_public %>
      <%= form_tag search_path, class: "navbar-form navbar-left", role: "search" do %>
        <div class="form-group">
          <%= text_field_tag :keyword, params[:keyword], class: 'form-control', placeholder: t(:search_topic) %>
        </div>
        <button type="submit" class="btn btn-info"><%= glyphicon :search %></button>
      <% end %>
    <% end %>
    <ul class="nav navbar-nav navbar-left">
      <% if user_signed_in? %>
        <%= li_link nil, timeline_path do %>
          <%= glyphicon 'inbox' %>
          <%= t('activites') %>&nbsp;<span id="events-badge" class="badge"></span>
        <% end %>
      <% end %>
      <% if user_signed_in? or IslandZero.open_to_public %>
        <%= li_link nil, topics_path do %>
          <%= glyphicon 'list' %>
          <%= t('all_topics') %>
        <% end %>
      <% end %>
      <% if user_signed_in? %>
        <%= li_link nil, starred_topics_path do %>
          <%= glyphicon 'star' %>
          <%= t('starred_topics') %>
        <% end %>
      <% end %>
      <% if user_signed_in? and current_user.is_super_admin %>
        <%= li_link nil, users_path do %>
          <%= glyphicon 'user' %>
          <%= t('all_users') %>
        <% end %>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= glyphicon :user %>&nbsp<%= current_user.nickname %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to edit_user_registration_path do %>
                <%= glyphicon :home %>
                <%= t(:profile) %>
              <% end %>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to destroy_user_session_path, { method: :delete } do %>
                <%= glyphicon :off %>
                <%= t(:logout) %>
              <% end %>
            </li>
          </ul>
        </li>
      <% else %>
        <%= li_link nil, new_user_session_path do %>
          <%= glyphicon 'log-in' %>
          <%= t('login') %>
        <% end %>
        <%= li_link nil, new_user_registration_path do %>
          <%= glyphicon 'pencil' %>
          <%= t('register') %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
</div>
