<div class="container">
<div class="row">
  <div class="col-md-8">

    <div class="row">
      <div class="col-md-12 text-center">
        <%= will_paginate @events %>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default panel-main">
          <div class="panel-body">
            <span>
              <%= t :activites %>
            </span>
          </div>
          <ul class="list-group">
            <% if @events.count == 0 %>
              <li class="list-group-item text-center"><%= t(:no_activities) %></li>
            <% else %>
              <% @events.each do |event| %>
                <li class="list-group-item">
                  <% if event.topic.present? %>
                    <%= image_tag event.topic.icon_url, size: '32' %>
                  <% end %>

                  <span class="text-muted text-right pull-right">
                    <small><%= time_ago_in_words event.created_at %></small>
                  </span>

                  <% if event.topic.present? %>
                    <span class="text-muted">
                      <small>
                        <%= t(:from_topic) %> 
                        <%= link_to event.topic.title, topic_path(event.topic) %>
                      </small>
                    </span>
                    <br/>
                  <% end %>

                  <% if event.event_type == Event::Type::Mention %>
                    <% if event.post.present? and event.sub_post.present? %>
                      <span class="<%= "text-info" if event.post.user_id == current_user.id %>">
                        <small>
                          <% if event.post.user_id == current_user.id %>
                            <%= t(:from_your_post) %>
                          <% else %>
                            <%= t(:from_post) %>
                          <% end %>
                          "
                          <%= link_to event.post.title, post_path(event.post) %>
                          "
                        </small>
                        <br/>
                      </span>

                      <%= t(:from_reply) %>
                      "
                      <%= link_to truncate(event.sub_post.content_plain, length: 50), post_path(event.post, jump_sub_post: event.sub_post.id) %>"
                      </br>
                      <%= user_or_me event.sub_post.user %>
                      <%= t(:mentioned_you) %>
                      .
                    <% else %>
                      <% if event.post.present? %>
                        <span class="<%= "text-info" if event.post.user_id == current_user.id %>">
                          <small>
                            <% if event.post.user_id == current_user.id %>
                              <%= t(:from_your_post) %>
                            <% else %>
                              <%= t(:from_post) %>
                            <% end %>
                            "
                            <%= link_to event.post.title, post_path(event.post) %>
                            "
                          </small>
                          <br/>
                        </span>
                      <% end %>
                      <%= user_or_me event.post.user %>
                      <%= t(:mentioned_you) %>
                    <% end %>
                  <% end %>

                  <% if event.event_type == Event::Type::NewPost and event.post.present? %>
                    <%= user_or_me event.post.user %> 
                    <%= t(:create_a_post) %> 
                    "
                    <%= link_to event.post.title, post_path(event.post) %>
                    "
                    .
                  <% end %>

                  <% if event.event_type == Event::Type::NewSubPost and event.post.present? and event.sub_post.present? %>
                    <span class="<%= "text-info" if event.post.user_id == current_user.id %>">
                      <small>
                        <% if event.post.user_id == current_user.id %>
                          <%= t(:from_your_post) %>
                        <% else %>
                          <%= t(:from_post) %>
                        <% end %>
                        "
                        <%= link_to event.post.title, post_path(event.post) %>
                        "
                      </small>
                      <br/>
                    </span>

                    <% if event.count == 1 %>

                      <%= user_or_me event.sub_post.user %> 
                      <%= t(:create_a_sub_post) %>
                      "
                      <%= link_to truncate(event.sub_post.content_plain, length: 50), post_path(event.post, jump_sub_post: event.sub_post.id) %>
                      "
                      .

                    <% else %>

                      <%= t('multiple_sub_posts_created', count: event.count) %>
                      .

                    <% end %>
                  <% end %>

                </li>
              <% end %>
            <% end %>
          </ul>

        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12 text-center">
        <%= will_paginate @events %>
      </div>
    </div>

  </div>
</div>
</div>
