<div class="container">
  <div class="row">

    <div class="col-md-8">

      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary panel-main">
            <div class="panel-body">
              <%= link_to "#{t(:back_to_topic)}: #{@topic.title}", topic_path(@topic) %>
            </div>
            <div class="panel-body">
              <h4><small class="text-muted">#<%= @post.id %></small><%= @post.title %><small class="text-muted pull-right"><%= @post.user.nickname %> | <%= time_ago_in_words @post.created_at %></small></h4>
              <p class="text-right">
                <% if current_user.is_admin || post.user == current_user %>
                <%= link_to t(:delete), @post, method: 'delete', data: { confirm: t(:confirm_to_delete) } %>
                <% end %>
              </p>
              <p>
                <%= @post.content_parsed.html_safe %>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">

            <div class="panel-body text-right">
              <a data-toggle="collapse" href="#collapseNewPost" aria-expanded="true" aria-controls="collapseNewPost">
                <%= glyphicon 'pencil' %><%= t(:new_reply) %>
              </a>
            </div>

            <div id="collapseNewPost" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <%= form_for @new_post, remote: true, html: { class: 'need-reload' } do |f| %>
                <%= f.hidden_field :topic_id %>
                <%= f.hidden_field :parent_id %>
                <div class="form-group">
                  <%= f.text_area :content, class: 'form-control', id: 'inputContent', placeholder: t("content"), 'data-provide' => "markdown" %>
                </div>
                <div class="form-group text-right">
                  <%= f.submit t("submit"), class: "btn btn-sm btn-default" %>
                </div>
                <% end %>
              </div>
            </div>

            <ul class="list-group">
              <% if @sub_posts.length != 0 %>

              <% @sub_posts.each do |post| %>
              <li class="list-group-item">
                <h4 class="list-group-item-heading"><small class="text-muted"><%= "##{post.id}" %> <%= post.user.nickname %> | <%= time_ago_in_words post.created_at %></small></h4>
                <p class="list-group-item-text"><%= post.content_parsed.html_safe %></p>
              </li>
              <% end %>

              <% else %>

              <li class="list-group-item text-center"><%= t(:no_replies) %></li>

              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <%= will_paginate @sub_posts %>
        </div>
      </div>

    </div>

    <div class="col-md-4">
      <%= render 'shared/chatbox' %>
    </div>

  </div>
</div>
