<!DOCTYPE html>
<html>
<head>
  <title>MAGI::<%= content_for(:page_title) || "Systems" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>


  <% if user_signed_in? %>
  <%= render 'shared/nav' %>
  <% else %>
  <%= render 'shared/nav_not_logined' %>
  <% end %>

  <div class="container-fluid">

    <%= yield %>

  </div>

</body>
</html>
